.animate-marquee {
  animation: marquee 15s linear infinite;
}
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.testimonial-swiper{
  padding: 20px 0;
}

.testimonial-swiper .swiper-slide{
  height: auto;
}

/* .testimonial-swiper .swiper-slide img{
  width: 100%;
} */

.testimonial-swiper .swiper-slide-next ::after,
.testimonial-swiper .swiper-slide-prev ::after{
  display: none;
}

.swiper-slide-next,
.swiper-slide-prev{
  display: none;
}

.swiper-slide-next-custom.swiper-slide-disabled,
.swiper-slide-prev-custom.swiper-slide-disabled{
  opacity: 0.5;
  cursor: not-allowed;
}

